extends layout
block stylesheet
    link(rel="stylesheet" href="/stylesheets/layout/detailLaw.css")
block content
    - let totalRating = lawDocument._source.ratings['5'] + lawDocument._source.ratings['4'] + lawDocument._source.ratings['3'] + lawDocument._source.ratings['2'] + lawDocument._source.ratings['1'] 
    - totalRating = totalRating === 0 ? 1 : parseInt(totalRating)
    #bg-img
        #bg-color
            .container
                #summary-container.text-center.text-white.animated.fadeInDown
                    #law-name #{lawDocument._source.name}
                    #law-descripton #{lawDocument._source.desc}
    #breadcrumb-container
        .container
            ul.breadcrumb
                li
                    a(href="/") Trang chủ
                li
                    - if(typeof lawDocument._source.field !== 'string')
                        - for(let i = 0; i < lawDocument._source.field.length; i++)
                            if( i !== lawDocument._source.field.length - 1)
                                a(href=`vbpl?lv=${lawDocument._source.field[i]}`) #{lawDocument._source.field[i]}
                                | , 
                            else 
                                a(href=`vbpl?lv=${lawDocument._source.field[i]}`) #{lawDocument._source.field[i]}
                    - else 
                            a(href=`vbpl?lv=${lawDocument._source.field}`) #{lawDocument._source.field}
                li
                    - if(typeof lawDocument._source.docType !== 'string')
                        - for(let i = 0; i < lawDocument._source.docType.length; i++)
                            if( i !== lawDocument._source.docType.length - 1)
                                a(href=`vbpl?lvb=${lawDocument._source.docType[i]}`) #{lawDocument._source.docType[i]}
                                | , 
                            else 
                                a(href=`vbpl?lvb=${lawDocument._source.docType[i]}`) #{lawDocument._source.docType[i]}
                    - else 
                            a(href=`vbpl?lvb=${lawDocument._source.docType}`) #{lawDocument._source.docType}
                li #{lawDocument._source.name}  
    #nav-tabs-container
        .container
            nav
                #nav-tab.nav.nav-tabs(role="tablist")
                    a#nav-content-tab.nav-item.nav-link.active(href="#nav-content" data-toggle="tab" role="tab" aria-controls="nav-content" aria-selected="true") 
                        i.fas.fa-book-open    Nội dung
                    a#nav-file-tab.nav-item.nav-link(href="#nav-file" data-toggle="tab" role="tab" aria-controls="nav-file" aria-selected="false") 
                        i.fas.fa-file-pdf Văn bản gốc
                #nav-tabContent.tab-content(style='margin-bottom: 25px;')
                        #nav-content.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="nav-content-tab")
                            .block-content
                                .row
                                    .col-md-8(style="border-right: 1px solid #e0e0e0") !{lawDocument._source.contentHtml}
                                    .col-md-4
                                        #info-hold
                                            .view-container
                                                p Đã xem: 
                                                    strong.text-success 21
                                            .ratings-container
                                                .pull-left Đánh giá: 
                                                .pull-left
                                                    #rating
                                                        input(type="radio" name="rating" id="star5" value="5" onclick=`onRating('${lawDocument._id}')`)
                                                        label.ratingIcon(for="star5" title="Rất tốt")

                                                        input(type="radio" name="rating" id="star4" value="4" onclick=`onRating('${lawDocument._id}')`)
                                                        label.ratingIcon(for="star4" title="Tốt")

                                                        input(type="radio" name="rating" id="star3" value="3" onclick=`onRating('${lawDocument._id}')`)
                                                        label.ratingIcon(for="star3" title="Trung Bình")

                                                        input(type="radio" name="rating" id="star2" value="2" onclick=`onRating('${lawDocument._id}')`)
                                                        label.ratingIcon(for="star2" title="Tệ")

                                                        input(type="radio" name="rating" id="star1" value="1" onclick=`onRating('${lawDocument._id}')`)
                                                        label.ratingIcon(for="star1" title="Rất tệ")
                                        .rating-infor-container
                                            .left-rating-infor-container
                                                #averate-rating #{Math.round((lawDocument._source.stars + Number.EPSILON) * 100) / 100}
                                                .averate-rating-container
                                                    #averate-rating-star-base-layer.averate-rating-star
                                                        span
                                                            i.fa.fa-star
                                                        span
                                                            i.fa.fa-star
                                                        span
                                                            i.fa.fa-star
                                                        span
                                                            i.fa.fa-star
                                                        span
                                                            i.fa.fa-star
                                                    #averate-rating-star-ratio-layer.averate-rating-star(style=`width: ${lawDocument._source.stars / 5 * 100}%`)
                                                        span
                                                            i.fa.fa-star
                                                        span
                                                            i.fa.fa-star
                                                        span
                                                            i.fa.fa-star
                                                        span
                                                            i.fa.fa-star
                                                        span
                                                            i.fa.fa-star
                                            .row-rating
                                                .row-rating-item
                                                    .side
                                                        div 5 
                                                            i.fas.fa-star(style="color:#FFD700")
                                                    .middle
                                                        .bar-container
                                                            #bar-5.five-star-color(style=`width: ${parseInt(lawDocument._source.ratings['5']) / totalRating * 100}%`)
                                                    #totalRating5.side.right #{lawDocument._source.ratings['5']}
                                                .row-rating-item    
                                                    .side
                                                        div 4 
                                                            i.fas.fa-star(style="color:#FFD700")
                                                    .middle
                                                        .bar-container
                                                            #bar-4.four-star-color(style=`width: ${parseInt(lawDocument._source.ratings['4']) / totalRating * 100}%`)
                                                    #totalRating4.side.right #{lawDocument._source.ratings['4']}
                                                .row-rating-item    
                                                    .side
                                                        div 3 
                                                            i.fas.fa-star(style="color:#FFD700")
                                                    .middle
                                                        .bar-container
                                                            #bar-3.three-star-color(style=`width: ${parseInt(lawDocument._source.ratings['3']) / totalRating * 100}%`)
                                                    #totalRating3.side.right #{lawDocument._source.ratings['3']}
                                                .row-rating-item    
                                                    .side
                                                        div 2 
                                                            i.fas.fa-star(style="color:#FFD700")
                                                    .middle
                                                        .bar-container
                                                            #bar-2.two-star-color(style=`width: ${parseInt(lawDocument._source.ratings['2']) / totalRating * 100}%`)
                                                    #totalRating2.side.right #{lawDocument._source.ratings['2']}
                                                .row-rating-item    
                                                    .side
                                                        div 1 
                                                            i.fas.fa-star(style="color:#FFD700")
                                                    .middle
                                                        .bar-container
                                                            #bar-1.one-star-color(style=`width: ${parseInt(lawDocument._source.ratings['1']) / totalRating * 100}%`)
                                                    #totalRating1.side.right #{lawDocument._source.ratings['1']}
                                        table.table.table-striped.table-bordered.table-header-bg
                                            thead
                                                tr
                                                    th.text-center(colspan="2")
                                                        h2.h6 Thuộc tính Văn bản pháp luật #{lawDocument._source.docNum}
                                            tbody
                                                tr
                                                    td Loại văn bản
                                                    td
                                                        - if(typeof lawDocument._source.docType !== 'string')
                                                            - for(let i = 0; i < lawDocument._source.docType.length; i++)
                                                                if(i !== lawDocument._source.docType.length - 1)
                                                                    a(href=`vbpl?lvb=${lawDocument._source.docType[i]}`) #{lawDocument._source.docType[i]}
                                                                    | ,
                                                                else
                                                                    a(href=`vbpl?lvb=${lawDocument._source.docType[i]}`) #{lawDocument._source.docType[i]}
                                                        - else 
                                                            a(href=`vbpl?lvb=${lawDocument._source.docType}`) #{lawDocument._source.docType}

                                                tr
                                                    td Số hiệu
                                                    td #{lawDocument._source.docNum}
                                                tr
                                                    td Cơ quan ban hành
                                                    td
                                                        - if(typeof lawDocument._source.agencyIssued !== 'string')
                                                            - for(let i = 0; i < lawDocument._source.agencyIssued.length; i++)
                                                                if(i !== lawDocument._source.agencyIssued.length - 1)
                                                                    a(href=`vbpl?cqbh=${lawDocument._source.agencyIssued[i]}`) #{lawDocument._source.agencyIssued[i]}
                                                                    | ,
                                                                else
                                                                    a(href=`vbpl?cqbh=${lawDocument._source.agencyIssued[i]}`) #{lawDocument._source.agencyIssued[i]}
                                                        - else 
                                                            a(href=`vbpl?cqbh=${lawDocument._source.agencyIssued}`) #{lawDocument._source.agencyIssued}
                                                tr
                                                    td Người Ký
                                                    td
                                                        - if(typeof lawDocument._source.signedBy !== 'string')
                                                            - for(let i = 0; i < lawDocument._source.signedBy.length; i++)
                                                                if(i !== lawDocument._source.signedBy.length - 1)
                                                                    a(href=`vbpl?nk=${lawDocument._source.signedBy[i]}`) #{lawDocument._source.signedBy[i]}
                                                                    | ,
                                                                else
                                                                    a(href=`vbpl?nk=${lawDocument._source.signedBy[i]}`) #{lawDocument._source.signedBy[i]}
                                                        - else 
                                                            a(href=`vbpl?nk=${lawDocument._source.signedBy}`) #{lawDocument._source.signedBy}
                                                tr
                                                    td Ngày ban hành
                                                    td #{lawDocument._source.issuedDate}
                                                tr
                                                    td Ngày hiệu lực
                                                    td #{lawDocument._source.effectiveDate}
                                                tr
                                                    td Ngày công báo
                                                    td #{lawDocument._source.dateOfAnnouncement}
                                                tr
                                                    td Số công báo
                                                    td #{lawDocument._source.numOfAnnouncement}
                                                tr
                                                    td Lĩnh vực
                                                    td
                                                        - if(typeof lawDocument._source.field !== 'string')
                                                            - for(let i = 0; i < lawDocument._source.field.length; i++)
                                                                if(i !== lawDocument._source.field.length - 1)
                                                                    a(href=`vbpl?lv=${lawDocument._source.field[i]}`) #{lawDocument._source.field[i]}
                                                                    | ,
                                                                else
                                                                    a(href=`vbpl?lv=${lawDocument._source.field[i]}`) #{lawDocument._source.field[i]}
                                                        - else 
                                                            a(href=`vbpl?lv=${lawDocument._source.field}`) #{lawDocument._source.field}
                                                tr
                                                    td Tình trạng hiệu lực
                                                    td
                                                        a(href=`vbpl?tt=${lawDocument._source.effectiveStatus}`) #{lawDocument._source.effectiveStatus} #{lawDocument._source.inavailableDate ? lawDocument._source.inavailableDate : ''} 
                                                tr
                                                    td Cập nhật
                                                    td #{moment(lawDocument._source.updatedAt).fromNow()}
                                        - if(lawDocument._source.pdfLawsLink || lawDocument._source.docLawsLink)
                                            .row#download
                                                .col-md-12
                                                    table.table.table-striped.table-bordered.table-header-bg
                                                        thead
                                                            tr
                                                                th.text-center(colspan="2")
                                                                    h2.h6 Download văn bản pháp luật #{lawDocument._source.docNum}
                                                - if(lawDocument._source.pdfLawsLink)
                                                    .col-md-12(style="margin-bottom: 15px")
                                                        table.block-table.table-bordered.text-center(style="width:100%")
                                                            tbody
                                                                tr
                                                                    td.bg-warning(style='width: 30%')
                                                                        .push-20.push-20-t
                                                                            a(href=`${lawDocument._source.pdfLawsLink}`)
                                                                                i.fa.fa-file-pdf-o.fa-3x.text-white
                                                                    td.bg-gray-lighter
                                                                        .h1.font-w700
                                                                            span.h2.text-muted
                                                                            a(href=`${lawDocument._source.pdfLawsLink}`) PDF
                                                                        .h5.text-muted.text-uppercase.push-5-t
                                                                            a(href=`${lawDocument._source.pdfLawsLink}`) File văn bản gốc
                                                                                small.font-s13
                                                - if(lawDocument._source.docLawsLink)
                                                    .col-md-12
                                                        table.block-table.table-bordered.text-center(style="width:100%")
                                                            tbody
                                                                tr
                                                                    td.bg-danger(style='width: 30%')
                                                                        .push-20.push-20-t
                                                                            a(href=`${lawDocument._source.docLawsLink}`)
                                                                                i.fa.fa-file-word-o.fa-3x.text-white
                                                                    td.bg-gray-lighter
                                                                        .h1.font-w700
                                                                            span.h2.text-muted
                                                                            a(href=`${lawDocument._source.docLawsLink}`) DOC
                                                                        .h5.text-muted.text-uppercase.push-5-t
                                                                            a(href=`${lawDocument._source.docLawsLink}`) File văn bản word
                                                                                small.font-s13
                        #nav-file.tab-pane.fade(role="tabpanel" aria-labelledby="nav-file-tab")
                            //- iframe(src=`${lawDocument._source.pdfLawsLink}` frameborder="0" width="100%" height="1000px")
                            object(width="100%" height="1000px" type="application/pdf" data=`${lawDocument._source.pdfLawsLink}?#zoom=85&scrollbar=0&toolbar=0&navpanes=0`)
    script(src="script/detailLaw.js")