extends layout
block stylesheet
    link(rel="stylesheet" bs-hidden="1" bs-system-element="1" href="/stylesheets/layout/home.css")
    link(rel="stylesheet" bs-hidden="1" bs-system-element="1" href="/stylesheets/layout/style.css")
block content
    .container(style='padding: 0 0 0 0; margin: 0 auto;')
        .highlight-phone
            .container
                .row
                    .col-md-8
                        .intro
                            h2(style='font-weight:500') Hệ thống tìm kiếm & tra cứu hiệu lực Văn bản pháp luật
                            a(style='text-align: left;')
                                | Chào mừng bạn đến với hệ thống CSDL Văn bản pháp luật. Tại đây bạn có thể tìm kiếm, tra cứu thông tin tổng hợp hơn 300,000 văn bản các loại bao gồm: Văn bản Quy phạm pháp luật, Công văn, Tiêu chuẩn Việt Nam, Văn bản Tiếng
                                | anh & dự thảo văn bản mới nhất được tổng hợp từ năm 1945 đến nay.
                            a.btn.btn-primary(role='button' href='#') Tìm kiếm ngay!
                    .col-sm-4
                        .d-none.d-md-block.iphone-mockup
                            img.device(src='/images/img/im_library.jpg')
            
    div
        .container(style='background-color:#e5f3fb; margin: 0 auto')
            .row
                .col-md-3
                        h2.name(style='font-size:1.5rem; text-align: center; font-weight: 500') Văn bản pháp luật 
                        a.description
                            | Văn bản do cơ quan nhà nước ban hành hoặc phối
                            | hợp ban hành theo thẩm quyền, hình thức, trình tự.
                        br
                        
                        a.learn(style="margin-top: 10px;")
                            | Tìm hiểu về Văn bản pháp luật  
                        i.fas.fa-chevron-right.fa-xs
                .col-md-3
                        h2.name(style='font-size:1.5rem; text-align: center; font-weight: 500') Công văn
                        a.description
                            | Hình thức văn bản hành chính dùng phổ biến trong các cơ quan, tổ chức, doanh nghiệp.
                        br
                        a.learn(style="margin-top: 10px;")
                            | Tìm hiểu về Công Văn  
                        i.fas.fa-chevron-right.fa-xs
                .col-md-3
                        h2.name(style='font-size:1.5rem; text-align: center; font-weight: 500') Tiêu chuẩn Việt Nam
                        a.description
                            | Quy định về đặc tính kỹ thuật và sử dụng làm chuẩn để phân loại, đánh giá chất lượng.
                        br
                        a.learn(style="margin-top: 10px;")
                            | Tìm hiểu về Tiêu chuẩn Việt Nam  
                        i.fas.fa-chevron-right.fa-xs
                .col-md-3
                        h2.name(style='font-size:1.5rem; text-align: center; font-weight: 500') Dự thảo
                        a.description(style=' text-align:justify; text-justify: inter-word; text-align-last:center;')
                            | Bản thảo về một đạo luật do cơ quan, tổ chức,
                            | cá nhân có quyền trình dự án luật mà mình soạn thảo.
                        br
                        a.learn(style="margin-top: 10px;")
                            | Tìm hiểu về Dự thảo  
                        i.fas.fa-chevron-right.fa-xs
            
    .content(style='margin-top:15px')
        .container(style='margin: 0 auto;')
            .row

                .col-md-2(style='width:400')
                    .panel-top(style='margin-bottom: 15px')
                        a CSDL VĂN BẢN
                        br
                        hr
                        ul(style='list-style-type: none; padding-inline-start: 0px;')
                            li
                                a(href='/profileUser') Văn bản pháp luật
                            li
                                a(href='#') Công Văn
                            li
                                a(href='#') TCVN
                            li
                                a(href='#') Dự thảo văn bản
                    .panel-top(style='margin-bottom: 15px')
                            a LOẠI VĂN BẢN
                            br
                            hr
                            ul(style='list-style-type: none; padding-inline-start: 0px;')
                                li
                                    a(href='#') Tiêu chuẩn ngành
                                li
                                    a(href='#') Tiêu chuẩn XD Việt Nam
                                li
                                    a(href='#') Quy chuẩn
                                li
                                    a(href='#') Công Văn
                                li
                                    a(href='#') Hiến pháp
                                li
                                    a(href='#') Sắc lệnh
                                li
                                    a(href='#') Nghị quyết
                                li
                                    a(href='#') Nghị định
                                li
                                    a(href='#') Thông tư
                                li
                                    a(href='#') Thông tư liên tịch
                                li
                                    a(href='#') Thông tri
                                li
                                    a(href='#') Chỉ định
                                li
                                     a(href='#') Quyết định
                                li
                                    a(href='#') Thông báo
                                li
                                    a(href='#') Quy định
                                li
                                    a(href='#') Quy chế
                                li
                                     a(href='#') Điều lệ
                                li
                                     a(href='#') Hướng dẫn
                                li
                                     a(href='#') Hiệp định
                                li
                                     a(href='#') Thỏa thuận
                                li
                                    a(href='#') Công điện
                                li
                                    a(href='#')
                                        | Nghị định thư
                                li
                                    a(href='#')
                                        | Văn bản hợp nhất
                                li
                                    a(href='#')
                                        | Công ước
                                li
                                    a(href='#')
                                        | Điều ước
                                li
                                    a(href='#')
                                        | Điều ước quốc tế
                                li
                                    a(href='#')
                                        | Văn bản WTO
                                li
                                    a(href='#')
                                        | WTO - Cam kết Việt Nam
                                li
                                    a(href='#') Văn bản khác
                .col-md-10(style='width:1000; padding: 0px 0px 0px 0px;margin-bottom: 25px')
                    //- .block-header
                    .filters
                        ul.list-unstyled.list-filters
                            - for (let prop in aggs)
                                - let fieldName = getViFieldName(prop)
                                if (aggs.hasOwnProperty(prop))
                                    li.facet
                                        - if(filter.hasOwnProperty(prop))
                                            a(style="padding: 5px;  background-color: #8cb8d2; border-radius:3px") #{fieldName}
                                            i.fas.fa-close(style="color: #fff; margin-left: 5px" onclick=`updateQueryStringParameter('${fieldName}', '')`)
                                        - else
                                            a(style="padding: 5px") #{fieldName}
                                            i.fas.fa-chevron-down(style="color: #fff; margin-left: 5px")
                                        .sub
                                            ul.row.list-unstyled
                                                - for (let item of aggs[prop][fieldName].buckets)
                                                    li.col-md-4.push-5
                                                        - if(filter[prop] === item.key)
                                                            a.text-primary-dark(style="background-color: #8cb8d2;padding: 5px" onclick=`updateQueryStringParameter('${fieldName}', '${item.key}')` data-toggle="tooltip" title=`${item.key}`) #{item.key.length > 20 ?item.key.slice(0,20) + '...' : item.key}
                                                        - else 
                                                            a.text-primary-dark(onclick=`updateQueryStringParameter('${fieldName}', '${item.key}')` data-toggle="tooltip" title=`${item.key}`) #{item.key.length > 20 ?item.key.slice(0,20) + '...' : item.key}
                                                        span.badge.badge-pill.badge-secondary.pull-right #{item.doc_count}

                    #pills-tabContent.tab-content
                        
                        #pills-home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-home-tab')
                            if(lawsDoc)
                                each law in lawsDoc
                                        .container(style='margin: 10px 0px 0px 0px; border-bottom:2px solid #e0e0e0; padding-bottom:5px ')
                                            .row 
                                                .title
                                                    //- - let url = `#{law['_source'].tie_breaker_id}`
                                                    a(href=`${law['_source'].href}` style="color:#33829c")
                                                        | #{law['_source'].name}
                                            .row 
                                                .col-md-9
                                                    
                                                    .navbar-group(style='height:35px')
                                                        .navbar-text.mr-4(style=' ')
                                                            a.travel(href='?page=addTrip_Step0' style='font-size:14px')
                                                            i.fas.fa-file-word
                                                            |   Tiếng Anh
                                                        .navbar-text.mr-4
                                                            a.travel(href='?page=addTrip_Step0' style='font-size:14px')
                                                            i.fas.fa-file-word
                                                            |                                                         Nội dung
                                                        .navbar-text.mr-4
                                                            a.signup(href='#' style='font-size:14px')
                                                            i.fas.fa-project-diagram
                                                            |                                                         Lược đồ
                                                        .navbar-text.mr-4
                                                            a.login(href='' style='font-size:14px')
                                                            i.fas.fa-file-pdf
                                                            |                                                         Bản PDF
                                                        .navbar-text.mr-4
                                                            a.login(href='' style='font-size:14px')
                                                            i.fas.fa-history
                                                            |                                                          Lịch sử
                                                        .navbar-text.mr-4
                                                            a.login(href='' style='font-size:14px')                    
                                                            i.fas.fa-external-link-alt
                                                            |    VB liên quan
                                                                    
                                                    .inside!= law.hasOwnProperty('highlight') && law['highlight'].hasOwnProperty('desc')  ?  law['highlight'].desc : law['_source'].desc
                                                        //- | #{law['_source'].desc}     
                                                .col-md-4
                                                    .container(style='margin-left:0px')
                                                        .row
                                                            .col(style='max-width:35%') Ban hành:
                                                            .col.datecome #{law['_source'].issuedDate}
                                                            .w-100
                                                            .col(style='max-width:35%') Ngày HL:
                                                            .col.datestart #{law['_source'].effectiveDate}
                                                            .w-100
                                                            .col(style='max-width:35%') Hiệu lực:
                                                            - if (law['_source'].effectiveStatus === "Còn hiệu lực")
                                                                .col.iseffect(style='color:#038a40') #{law['_source'].effectiveStatus}
                                                            - else if (law['_source'].effectiveStatus.indexOf("Hết hiệu lực") > -1)
                                                                .col.iseffect(style='color:red') #{law['_source'].effectiveStatus}
                                                            - else 
                                                                .col.iseffect #{law['_source'].effectiveStatus}
                                                            .w-100
                                                            .col(style='max-width:35%') Cập nhật:
                                                            .col.timeupdate #{moment(law['_source'].updatedAt).fromNow()}

                                                                              
                        - if(paginateDisplayConfiguration)
                            .pagination
                                .paging-container.d-flex
                                    - if (currentPage !== 1)
                                        a.paging-item(onclick=`updateQueryStringParameter('page','${currentPage - 1 < 1 ?  1 : currentPage - 1}')` style='color: #4c9fbf') <
                                    - for (let page = paginateDisplayConfiguration[0].startingPage; page < paginateDisplayConfiguration[0].endingPage ; page += paginateDisplayConfiguration[0].pageIncrementJumping)
                                        if(page === currentPage)
                                            a.paging-item(onclick=`updateQueryStringParameter('page',${page})` style='color: #4c9fbf') #{page}
                                        else 
                                            a.paging-item(onclick=`updateQueryStringParameter('page',${page})` style='color: #4c9fbf') #{page}
                                    - if (currentPage !== paginateDisplayConfiguration[0].endingPage - 1)
                                        a.paging-item(onclick=`updateQueryStringParameter('page',${currentPage + 1})` style='color: #4c9fbf') >
                
    script(src="/script/home.js")